.bgheight{
  height: 400px;
}

.upparcard{
  height: 10%;
}
.projectcrausel{
  width: 20px;
  height: 400px;
}

.svgcontainer{
  height: 40px;
}
.skillscard{
  height: 50%;

}
.techstackcard{
  height: 30px;
  margin: 0px;
  padding: 0px;
}

.tecktackcard{
  margin: 0px;
  padding: 0px;
}

